* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.header {
  width: 100%;
  
  .header_toolbar {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 5px;
    }
    display: none;
    .header_toolbar--search {
      border: solid 1px rgb(67, 97, 213);
      padding: 5px;
    }
  }
  .header_page-title {
    padding: 10px 15px;
    background-color: rgb(23, 189, 178);
    color: white;
  }
}

.menu-container {
  @media screen and (min-width: 768px){
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 20%;
    }
  .menu-title {
    @media screen and (min-width: 768px){
      display: inline-block;
      color: white;
      text-align: center;
      padding:5px;
      font-weight: 600;
    }
    display: none;
  }
  .menu-list {
    display: flex;
    justify-content: space-around;
    background-color: rgba(5, 94, 94, 0.478);
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    @media screen and (min-width: 768px){
      position: relative;
      flex-direction: column;
      background-color: transparent;
      padding: 0;
    }
    li {
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.331);
      width: 100px;
      text-align: center;
      @media screen and (min-width: 768px){
      background-color: rgb(156, 241, 222);
      width: 100%;
      text-align: left;
      color: rgba(0, 0, 0, 0.837);
      box-shadow: 2px 1px 3px rgba(128, 128, 128, 0.734);
      padding-left: 10px;
      border-bottom: solid 1px grey;
      
    }
    }
  }
}
.container {
  padding: 50px 20px 10px;
  background-color: rgba(173, 233, 215, 0.759);
  .container_list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    @media screen and (min-width: 768px){
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 15px;
    justify-content: center;
  }
    .card {
      padding: 20px;
      display: flex;
      align-items: center;
      column-gap: 10px;
      background-color: white;
      @media screen and (min-width: 768px){
       flex-direction: column;
       width: 200px;
       box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.409);
  }

      img {
        border-radius: 50%;
      }
    }
  }
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: antiquewhite;
}

//media body

@media screen and (min-width:768px){
  .page-container{
    display: grid;
    grid-template-columns: 20% 80%;
  }
  nav{
     background-color: rgba(1, 8, 7, 0.828);
  }
}
