<article>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        formControlName="username"
        type="text"
        matInput
        [errorStateMatcher]="matcher"
      />
      @if (loginForm.get('username')?.hasError('username') &&
      !loginForm.get('username')?.hasError('required')) {
      <mat-error>Username is required</mat-error>
      } @if (loginForm.get('username')?.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        [errorStateMatcher]="matcher"
      />
      @if (loginForm.get('password')?.hasError('required')) {
      <mat-error>Password is required</mat-error>
      } @if (loginForm.get('password')?.hasError('minlength')) {
      <mat-error>Password must be at least 8 characters long</mat-error>
      }
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">Login</button>
  </form>
  @if (this.loading){<img src="./assets/ZKZg.gif" />}
</article>
